* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p,
a {
  font-size: 3rem;
  color: aliceblue;
  text-decoration: none;
}

header {
  height: 10vh;
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#800000), to(#ff6600));
  background-image: linear-gradient(to bottom left, #800000, #ff6600);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
}

.grid-container-schedule {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 75px 490px 40px;
      grid-template-columns: 75px 490px 40px;
}

img {
  height: 60vh;
  width: auto;
}

footer {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#800000), to(#ff6600));
  background-image: linear-gradient(to bottom left, #800000, #ff6600);
  height: 15vh;
}

.fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  height: 7rem;
  font-size: 30px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#800000), to(#ff6600));
  background-image: linear-gradient(to bottom left, #800000, #ff6600);
  margin-top: 20px;
  color: whites;
  border: 3px solid;
  border-color: white;
  border-radius: 1.8rem;
  -webkit-box-shadow: 1rem;
          box-shadow: 1rem;
  -webkit-box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3), 10px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3), 10px 5px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 800px) {
  /*   For mobile:*/
  #logo {
    display: none;
    position: absolute;
  }
  .header {
    height: 16vh;
  }
  h1 {
    display: none;
  }
  li a {
    font-size: 2rem;
  }
  .grid-container-schedule {
    width: 93vw;
    -ms-grid-columns: 20% 75% auto;
        grid-template-columns: 20% 75% auto;
  }
  section {
    height: auto;
  }
  .cards {
    margin: 0;
    padding: 13px;
    height: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  img {
    width: 98%;
    height: auto;
  }
  .cards-2 {
    max-width: 700;
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (minmax(600px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  footer {
    height: 35vh;
  }
}

@media only screen and (max-width: 350px) {
  /*   For mobile:*/
  #logo {
    display: none;
    position: absolute;
  }
  .fab {
    font-size: 20px;
    width: 5rem;
    height: 5rem;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */