* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
}

.home-page {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
#logo {
  display: flex;
  flex: 2 1 40rem;
  align-items: center;
}

/* nav*/
$one: rgb(30, 184, 255);
$two: #00225f;
.main-head {
  height: 11vh;
  background-image: linear-gradient(to bottom left, #00225f, rgb(30, 184, 255));
  color: rgb(255, 249, 249);
  position: sticky;
  top: 0px;
  z-index: 6;
  h1 {
    font-size: 2.5rem;
  }
}
.heading1 {
  background-image: linear-gradient(to top left, $two, $one);
  text-align: center;
  padding: 2%;
  color: rgb(255, 249, 249);
  margin-bottom: 5%;
}
.headingLast {
  background-image: linear-gradient(to top left, $two, $one);
  text-align: center;
  padding: 2%;
  color: rgb(255, 249, 249);
}
.translate {
  background: none;
  border: none;
}

.eng {
  height: 42px;
  width: 40px;
}
.rus {
  width: 40px;
  height: 35px;
  display: none;
}
/*intro*/
.All-site {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 90vh;
}
section {
  scroll-snap-align: start;
}
#physic {
  height: 90vh;
  background-image: url("../img/aboutMe/phsic.jpg");
  background-size: cover;
  background-position: 30% 100%;

  .TopShade {
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
    height: 3rem;
    width: 100%;
  }
  h1 {
    width: 40vw;
    background: rgba(22, 22, 22, 0.6);
    position: relative;
    top: 20vh;
    left: 5%;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  p {
    text-indent: 20px;
    margin-left: 5%;
    padding-left: 2%;
    position: relative;
    top: 20vh;
    width: 40vw;
    background: rgba(255, 255, 255, 0.6);
  }
}
/* CODING */

#web_Programming {
  height: 89.3vh;
  img {
    height: 15rem;
  }
  p {
    padding: 5% 10% 0px 10%;
  }
  .iconsSkils {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding-left: 2.5%;
    width: 99%;

    div {
      width: 10rem;
      height: 15rem;
      display: flex;
    }
  }
  .DispALsa {
    padding-top: 2rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
}
.github {
  max-width: 14rem;
  animation: ring 1s infinite alternate;
}
@keyframes ring {
  0% {
    width: 10rem;
    height: 10rem;
    opacity: 1;
  }
}
/* Aditional skills */
#printing {
  height: 90vh;
  background: url("img/Soldering.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 80%;
  #tex3d {
    background: rgba(255, 255, 255, 0.6);
    padding: 4rem;
    position: relative;
    width: 50vw;
  }
}

/*Web programming*/

/* Contact Section */

.content {
  height: 70vh;
  background: url("../img/aboutMe/contact.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .regularText {
    font-size: 2.5rem;
  }
  .forma {
    margin-top: 5rem;
    padding: 2%;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
}
.field {
  background-color: #ffffff;
  width: 40vw;
  font-size: 2rem;
}
.submit {
  width: 40vw;
  height: 3rem;
  font-size: 2rem;
}
.message,
.email-form {
  margin-bottom: 5%;
  font-size: 2rem;
}
.headingLast {
  width: 20vw;
}
.leg {
  background-image: linear-gradient(to bottom right, $two, $one);
  height: 20vh;
  text-align: center;
  font-size: 25px;
  color: white;
}

//  slider Gallery

img {
  vertical-align: middle;
  height: 60vh;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

/* Position the image container (needed to position the left and right arrows) */
.container1 {
  margin-left: 5%;
  position: absolute;
  top: 20vh;
  width: 90%;
  height: 80%;
  display: none;
  background: #222;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#CloseAwards {
  background-image: url("img/close.png");
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  position: relative;
  transform: translateX(-100%);
  left: 100%;
  bottom: 91%;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0vh;
  width: auto;
  padding: 16px;
  margin-top: 40vh;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(143, 15, 15, 0.8);
  position: absolute;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */

.row {
  display: flex;
  justify-content: space-evenly;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 10vh;
}

.active,
.demo:hover {
  opacity: 1;
}

.awards {
  margin-left: 40%;
  margin-top: 5%;
  width: 15vw;
  height: 7vh;
  background: rgb(0, 177, 179);
  background: linear-gradient(202deg, $two, $one, rgba(0, 212, 255, 1) 100%);
  color: white;
  cursor: pointer;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
}
.fab {
  padding: 15px;
  font-size: 30px;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  margin: auto;
  background-image: linear-gradient(to bottom left, $two, $one);
  margin-top: 20px;
  color: whites;
  border: 3px solid;
  border-color: white;
  border-radius: 1.8rem;
  box-shadow: 1rem;
  box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3),
    10px 5px 5px rgba(0, 0, 0, 0.4);
}
@import "mobile";
